.box{
    height: 80px;
    font-size: x-large;
    border-radius: 6px;
    /* lo mantiene centrado al div con lo de abajo */
    margin: 50px auto; 
    @extend %display-JCC; 
    color: #c9c9c9;
    .p-obrassociales{
        transition-property: all;
        transition-duration: 2s;
        &:hover{
            transform: scale(1.1); 
        }
    }
    // .p-obrassociales:hover{
    //     /* cresca o escale 1.5 veces su tamaño */
    //     transform: scale(1.1);   
    // }
}
// @import "../base/Extend";
// .div-img-ob1 {
//      @extend %imagenesOB;
//      transition-property: all;
//      transition-duration: 2s;
// }
// .div-img-ob1:hover{
//     transform: scale(1.1);
// }
// .div-img-ob2{
//     @extend %imagenesOB;
//     transition-property: all;
//     transition-duration: 2s;
// }
// .div-img-ob2:hover{
//     transform: scale(1.1);
// }
// .div-img-ob3{
//     @extend %imagenesOB;
//     transition-property: all;
//     transition-duration: 2s;
// }
// .div-img-ob3:hover{
//     transform: scale(1.1);
// }


.card{
    max-width: 400px;
    padding: 0;
}
.doctoras-section{
    .parrafo{
        @extend %display-JCC; 
        @include Equipo (32px, flex-end, "Clarika geo" "Trebuchet MS"  sans-serif, 25px );
        margin-top: 50px;
        color: #c9c9c9;
    }
    .parrafo1{
    @extend %display-JCC; 
    @include Equipo (17px, flex-end, "Clarika geo""Trebuchet MS"  sans-serif, 100px );
    }
}
.card-img-top{
    height: 400px;
}